@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  src: url("/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  src: url("/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("/fonts/Pretendard-Bold.subset.woff") format("woff");
  font-weight: bold;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  font-family: pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --nav-height: 5rem;
  --footer-max-height: 10.8rem;
}

@layer utilities {
  .layout-min-height {
    min-height: calc(100vh - var(--nav-height) - var(--footer-max-height));
  }
}
