name: Building

on: [push]

jobs:
  Run-Build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 19.4.0

      - name : Generate env variables file for production
        run: echo "NEXT_PUBLIC_BACKEND_URL=${{secrets.NEXT_PUBLIC_BACKEND_URL}}">>.env.production
      
      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
